.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2.56rem;
  padding-bottom: 4.69rem;
}
.header-menu{
  display: flex;
  gap: 1.88rem;
}



