*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
:root {
    --background: #F3F5F7;    
    --iconFavorite: #574AE8;
    --newsSection: #FFF;  
    --title: #313131;
    --text: #979797;    
    --linear: linear-gradient(88.27deg, #574AE8 0%, #3EA1DB 100%);
    --font-primary: 'Lexend Deca', sans-serif;
    --font2-secondary: 'Inter', sans-serif;
}
body{
    background-color: var(--background);
    font-family: var(--font-primary);   
    overflow-x: hidden;
    transition: all .3s ease-out;
}
header{
    background-image: var(--linear);
    padding: 0 1.25rem 2.5rem 1.25rem;
}
a{
    text-decoration: none;
}
.container{
    max-width: 56.25rem;
    margin: 0 auto;
} 
.container-menu{
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 0 4.38rem 0 ;
    align-items: center;
}
.input-group{
    width: 100%;
    height: 4.05rem;
    background-color: rgba(255, 255, 255, 0.2);    
    outline: none;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 1.25rem;    
}
.icon-box{
    display: flex;
    align-items: center;    
}
.icon-box label{
    display: flex; 
    align-items: center; 
    height: 20px;
}
.icon-theme img{
    width: 26px;
    height: 26px;
    cursor: pointer;
    transition: .2s;    
}
.icon-theme img:hover{
    scale: 1.2;    
}
.input-group-icon{
    margin-left: 1.25rem;
}
.input-group input{
    background-color: transparent;
    width: inherit;
    border: none;
    outline: none;
    font-size: 1.13rem;
    font-family: var(--font2-secondary);
}
.input-group input::placeholder{
    color: #fff;
}
/**********FIM HEADER*********/
/********INICIO MAIN*********/
main{
    padding: 6.25rem 1.25rem;
}
.container-main{
    display: flex;
    flex-direction: column;
    gap: 3.13rem;
}
.content-group{
    background-color: var(--newsSection);
    height: auto;
    padding: 1.56rem;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(19, 19, 31, 0.05);
    transition: all .3s;
}
.content-group:hover{
    scale: 1.1;box-shadow: 0px 0px 10px rgba(19, 19, 31, 0.30);
}
.main-btn{
    border: none;
    background-color: transparent;
}
.content-details{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.38rem;    
}
.content-details time{
    color: var(--text);
}
.icon {
    fill: var(--newsSection);
    stroke: var(--iconFavorite);
    stroke-width: 10;
    transition: fill 0.3s;
    cursor: pointer;
  }  
.icon.filled,
.icon:hover {
    fill: var(--iconFavorite);
}
.title-text{
    font-size: 1.63rem;
    font-weight: normal;
    color: var(--title);
    margin-bottom: .5rem;
}
.text{
    font-size: 1.13rem;
    color: var(--text);
    line-height: 2rem;
}
input[type="checkbox"]{
    display: none;
}
input{
    color: var(--newsSection) ;
}
/*Dark theme*/
.dark .container-main{
    color: var(--newsSection);
}
.i-light, .dark .i-dark{
    display: none;
}
.dark .i-light {
    display: block;
}
.dark{
    background-color: #181717;
}
.dark header{
    background-image: linear-gradient(90deg, #27235C 0%, #0C557A 100%);
}
.dark .content-group{
    background-color: #313131;
}
.dark .title-text{
    color:#7ABDFF ;
}
.dark .icon{
    fill: #313131; 
    stroke: #43C1B2;
}
.dark .icon.filled,
.dark .icon:hover {
    fill: #43C1B2 ;
}
@media (max-width: 500px) {
    main{
        padding: 3.13rem 1.25rem;
    }
    .content-group{        
        padding: 1rem;
    }
    .content-group:hover{
        scale: 1.1;
        box-shadow: 0px 0px 10px rgba(19, 19, 31, 0.30);
    }
    .container-menu{
        padding: 3rem 0 2.5rem 0 ;
    }
    .input-group{
        height: 2.5rem;
    }
    .input-group input, 
    .content-details span, 
    .content-text p {
        font-size: .88rem;
    }    
    .content-text h1{
        font-size: 1.13rem;
    }   
    .content-text p{
        line-height: 1.63rem;
    }
}