*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
:root {
    --body: #F3F5F7;
    --blue: #3EA1DB;
    --blue-dark: #574AE8;
    --white: #FFF;  
    --title: #313131;
    --text: #979797;    
    --linear: linear-gradient(90deg, #27235C 0%, #0C557A 100%);
    --font-primary: 'Lexend Deca', sans-serif;
    --font2-secondary: 'Inter', sans-serif;
}
body{
    background-color: var(--body);
    font-family: var(--font-primary);
}
header{
    background-image: var(--linear);
    padding: 0 1.25rem 2.5rem 1.25rem;
}
a{
    text-decoration: none;
}
.container{
    max-width: 56.25rem;
    margin: 0 auto;
} 
.container-menu{
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 0 4.38rem 0 ;
}
.input-group{
    width: 100%;
    height: 4.05rem;
    background-color: rgba(255, 255, 255, 0.2);    
    outline: none;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 1.25rem;    
}
.input-group-icon{
    margin-left: 1.25rem;
}
.input-group input{
    background-color: transparent;
    width: inherit;
    border: none;
    outline: none;
    font-size: 1.13rem;
    font-family: var(--font2-secondary);
}
.input-group input::placeholder{
    color: #fff;
}
/**********FIM HEADER*********/
/********INICIO MAIN*********/
main{
    padding: 6.25rem 1.25rem;
}
.container-main{
    display: flex;
    flex-direction: column;
    gap: 3.13rem;
}
.content-group{
    background-color: var(--white);
    height: auto;
    padding: 1.56rem;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(19, 19, 31, 0.05);
    transition: all .3s;
}
.content-group:hover{
    scale: 1.1;box-shadow: 0px 0px 10px rgba(19, 19, 31, 0.30);
}
.main-btn{
    border: none;
    background-color: transparent;
}
.content-details{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.38rem;    
}
.content-details time{
    color: var(--text);
}
.icon {
    fill: #574ae801;
    stroke: var(--blue-dark);
    stroke-width: 10;
    transition: fill 0.3s;
    cursor: pointer;
  }  
.icon.filled,
.icon:hover {
    fill: var(--blue-dark);
  }
.title-text{
    font-size: 1.63rem;
    font-weight: normal;
    color: var(--title);
    margin-bottom: .5rem;
}
.text{
    font-size: 1.13rem;
    color: var(--text);
    line-height: 2rem;
}



@media(prefers-color-scheme: dark){
    :root{
        --body: #181717;
        --blue: #3EA1DB;
        --blue-dark: #43C1B2;
        --white: #303030;  
        --title: #7ABDFF;
        --text: #ABA6A6;    
        --linear: linear-gradient(90deg, #27235C 0%, #0C557A 100%);
    }
}

/***RESPONSIVO****/
@media (max-width: 500px) {
    main{
        padding: 3.13rem 1.25rem;
    }
    .content-group{        
        padding: 1rem;
    }
    .container-menu{
        padding: 3rem 0 2.5rem 0 ;
    }
    .input-group{
        height: 2.5rem;
    }
    .input-group input, 
    .content-details span, 
    .content-text p {
        font-size: .88rem;
    }    
    .content-text h1{
        font-size: 1.13rem;
    }   
    .content-text p{
        line-height: 1.63rem;
    }
}